body{
    font-family: 'Open Sans', sans-serif;
    
}
h1{
    font-size: 50px;;
}
.name-higlight{
    color: orange;
}
.half-width{
height:500px ;
width: 40%;
float: left;
margin: 5%;
}
.half-width img{
width: 100%;
}
button{
height:20px;
width:25px;
}
.top-banner{
background-image: url("img/top-banner.png");
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    
}